.clear {
  clear: both;
}

img {
  max-width: 100%;
  border: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #e73700;
}

h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

h3 {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 36px;
}

.owl-p {
  font-size: 12px;
}

.owl-item {
  height: 340px;
}

/******* Common Element CSS End *********/
/* -------- title style ------- */
.line-title {
  direction: rtl;
  position: relative;
  width: 400px;
}

.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

.line-title::before {
  width: 100%;
  background: #f2f2f2;
}

.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.blog-slider-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 30px 1px;
  overflow: hidden;
  direction: rtl;
}

.blog-slider-section .owl-stage {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  position: relative;
}

.melk-blog-slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blog-slider-section .blog-slider-item {
  margin: 0 15px 60px;
  width: 250px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.blog-slider-section .blog-slider-item.active {
  width: 500px;
  box-shadow: 12px 10px 10px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.4);
}

.blog-slider-section .blog-slider-item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
}

.blog-slider-section .blog-slider-item-desc {
  text-align: right;
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  top: -25px;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.blog-slider-section .blog-slider-item.active .blog-slider-item-desc {
  transform: none;
  -webkit-transform: none;
}

.blog-slider-section .blog-slider-item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.blog-slider-section .blog-slider-item.active .blog-slider-item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.blog-slider-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

.owl-nav {
  padding: 0;
  position: relative;
  top: -400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0 3px !important;
  border-radius: 50px !important;
  border: 1px solid #ccc !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.owl-nav .owl-prev span,
.owl-nav .owl-next span {
  font-size: 20px;
}

/******** Middle section CSS End *******/
/***** responsive css Start ******/
@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  /* -------- Landing page ------- */
  .blog-slider-section {
    padding: 50px 30px;
  }
  .blog-slider-section .blog-slider-item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .blog-slider-section .blog-slider-item.active {
    width: 400px;
  }
  .blog-slider-section .blog-slider-item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

.owl-stage-outer {
  direction: rtl !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }
  /* -------- Landing page ------- */
  .blog-slider-section {
    padding: 50px 30px 40px;
  }
  .blog-slider-section .blog-slider-item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .blog-slider-section .blog-slider-item.active {
    width: 360px;
  }
  .blog-slider-section .blog-slider-item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }
  /* -------- Landing page ------- */
  .blog-slider-section {
    padding: 30px 15px 20px;
  }
  .blog-slider-section .blog-slider-item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .blog-slider-section .blog-slider-item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .blog-slider-section .blog-slider-item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}
/*# sourceMappingURL=blogSlider.css.map */