.lava {
  background-color: #9f2b30 !important;
}
.samoan {
  background-color: #e4ba00 !important;
}
.orangeTiger {
  background-color: #d56427 !important;
}
.roseViolet {
  background-color: #c54288 !important;
}
.amazon {
  background-color: #18724c !important;
}
.lodenForest {
  background-color: #6f8869 !important;
}
.midnight {
  background-color: #3a6d8f !important;
}
.azure {
  background-color: #4378bc !important;
}
.brightPurple {
  background-color: #8d51a0 !important;
}
.willow {
  background-color: #a18c4c !important;
}
.lightSeaGreen {
  background-color: lightseagreen !important;
}
